<!DOCTYPE html>
<style>
	form {
		margin: auto;
		width: 50%;
	}
		
</style>

<h1 align="center">Прогнозирование параметра</h1>
<h1 align="center">"Модуль упругости при растяжении, ГПа"</h1>

<form action="" method="POST">
	<fieldset>
		<legend style="font-size:30px">Введите значения параметров</legend> 
		<legend>("Угол нашивки, град" не нужен):</legend>
		<br>
		<p>
			<label for="p_1">Соотношение матрица-наполнитель</label>
	  	  	<input name="p_1" type="number" step="0.0000000000000001" placeholder="-1.36447545675633400">
		</p>
    	<p>
			<label for="p_2">Плотность, кг/м3</label>
	  	  	<input name="p_2" type="number" step="0.0000000000000001" placeholder="0.545466045534568500">
		</p>
		<p>
			<label for="p_3">модуль упругости, ГПа</label>
			<input name="p_3" type="number" step="0.0000000000000001" placeholder="-0.12438695476591918">
		</p>
			<p>
			<label for="p_4">Количество отвердителя, м.%</label>
			<input name="p_4" type="number" step="0.0000000000000001" placeholder="-3.46410161513775500">
		</p>
		<p>
			<label for="p_5">Содержание эпоксидных групп,%_2</label>
			<input name="p_5" type="number" step="0.0000000000000001" placeholder="3.464101615137751700">
		</p>
		<p>
			<label for="p_6">Температура вспышки, С_2</label>
			<input name="p_6" type="number" step="0.0000000000000001" placeholder="-3.46410161513775440">
		</p>
		<p>
			<label for="p_7">Поверхностная плотность, г/м2</label>
			<input name="p_7" type="number" step="0.0000000000000001" placeholder="-0.94936125189934310">
		</p>
		<p>
			<label for="p_8">Прочность при растяжении, МПа</label>
			<input name="p_8" type="number" step="0.0000000000000001" placeholder="1.319529293449033000">
		</p>
		<p>
			<label for="p_9">Потребление смолы, г/м2</label>
			<input name="p_9" type="number" step="0.0000000000000001" placeholder="0.075235479386327840">
		</p>
		<p>
			<label for="p_10">Шаг нашивки</label>
			<input name="p_10" type="number" step="0.0000000000000001" placeholder="-2.1686921880367462">
		</p>
		<p>
			<label for="p_11">Плотность нашивки</label>
			<input name="p_11" type="number" step="0.0000000000000001" placeholder="-0.1755116390014800">
		</p>
		<p>
			<input type="submit">
		</p>
		<div class="result">
			<p>
			   <label>Прогнозное значение параметра</label>
			   <label>"Модуль упругости при растяжении, ГПа":</label>
		   </p>
		   {% if result %}
		    <p> 
				{{result}} 
			</p> 
		   {% endif %}
	   </div>
	</fieldset>
</form>
